<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdkOmnl8E3pqAXPlC50KzEHpu6plXsEQ6ZHA&s" class="logo-img">
    <h1><i>NLP APP</i></h1>
    <h2>Register Now</h2> <br>
     {% if message %}
         <p style="color: green;">{{message}}</p>
    {% endif %}
    <form action="/register_process" method="post">
        <label for="name">Enter Name</label> <br>
        <input type="text" id="name" name='name' placeholder="👤 Name"required> <br>
        <label for="email">Enter Email</label><br>
        <input type="email" name="email" id="email" placeholder ="📧 Email" required> <br>
        <label for="Password">Enter Password</label><br>
        <input type="Password" name="password" id="email" placeholder ="🔒 Password" required> <br><br>

        <input type="submit" value=Register>

    </form> <br>
    <p>Already Registered?<a href="/">Login Here </a></p>
    
</body>
</html>